body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 0 50px;
    background-color: #f2f2f2;
}

.image-container {
    flex: 2;
    height: 600px;
    width: 1200px;
    object-fit: contain;
    object-position: center;
    background-color: #f2f2f2;
}

.gauge-container {
    margin: 50px;
    flex: 1;
    position: relative;
    background-color: #f2f2f2;
}

.gauge {
  width: 100%;
  max-width: 250px;
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: #004033;
  background-color: #f2f2f2;
}

.gauge__body {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: #b4c0be;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.gauge__fill {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: linear-gradient(to bottom, #ffa500, #ff0000);
  transform-origin: center top;
  transform: rotate(0.25turn);
}

.gauge__cover {
  width: 75%;
  height: 150%;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.gauge__text {
    position: absolute;
    top: 50%;
    right: 200px;
    transform: translateX(75%) translateY(-40%);
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: #004033;
    display: none;
    background-color: #f2f2f2;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  text-align: center;
  padding: 20px 0;
  z-index: 9999;
  font-family: Arial, sans-serif;
  font-size: 18px;
  background-color: #f2f2f2;
}
.back-button {
  font-family: Arial, sans-serif;
  display: inline-block;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  left: 20px;

  z-index: 9999;
}

.back-button:hover {
  background-color: #3e8e41;
}