<!DOCTYPE html>
<html>
<head>
    <title>Message Scam Detector</title>
    <link rel="stylesheet" href="indexstyle.css">
</head>
<body>
    <h1>Message Scam Detector</h1>
    <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload_file') }}">
        <label for="file"><b>Upload a message screenshot for analysis</b></label>
        <label for="file">(Please make sure all uploaded images are high quality and not blurry, so all text is clearly readable)</label>
        <input type="file" name="file" id="file" accept="image/*" onchange="checkFile()">
        <input type="submit" id="Upload" disabled onclick="showLoading()">
    </form>

    <div id="loading" style="display: none">
      <div>
        <h1 class="analyzing-text">Analysing screenshot...</h1>
        <br>
      </div>
      <div class="loader-container">
        <div class="spinner"></div>
      </div>
    </div>


    <script>
        function checkFile() {
            const fileInput = document.getElementById('file');
            const uploadButton = document.getElementById('Upload');

            if (fileInput.files.length > 0) {
                const file = fileInput.files[0];
                const fileType = file.type.split('/')[0];
                if (fileType === 'image') {
                    uploadButton.disabled = false;
                } else {
                    uploadButton.disabled = true;
                    alert('Please select an image file for analysis.');
                    location.reload();
                }
            } else {
                uploadButton.disabled = true;
            }
        }

        function showLoading() {
            const title = document.querySelector('h1');
            const form = document.querySelector('form');
            const loadingDiv = document.getElementById('loading');
            title.style.display = 'none';
            form.style.display = 'none';
            loadingDiv.style.display = 'flex';
        }
    </script>

</body>
</html>